# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/

# IDE
.vscode/
.idea/

# Dependencies
node_modules/
lib/

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.env
.env.local

# Jupyter Notebook
.ipynb_checkpoints 